.edit-container {

  .flex-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;

    h1 {
      margin-bottom: 0;
      font-weight: 600;
      margin-left: 1rem;
    }
  }

  form {
    width: 90%;
    margin: auto;

    mat-form-field {
      width: 100%;
      margin-top: .5rem;
    }



    button {
      margin-top: 1rem;
    }
  }
}
