<div class="animate__animated animate__fadeIn animate__faster">
  <div class="flex-box">
    <h1>Last Posts</h1>
    <button mat-fab
      color="primary"
      class="add-btn"
      [routerLink]="['/edit', 'new']">
      <mat-icon>add</mat-icon>
    </button>
  </div>

  <ng-container *ngIf="posts$ | async as post; else loading">
    <mat-list *ngFor="let post of posts$ | async">
      <app-post [post]="post"></app-post>
      <div class="margin"></div>
    </mat-list>
  </ng-container>

  <ng-template #loading>
    <div class="spinner-container">
      <mat-spinner></mat-spinner>
    </div>
  </ng-template>
</div>
