<app-navbar [sideNav]="sidenav"></app-navbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav
    mode="over">
    <mat-nav-list>
      <mat-list-item [routerLink]="['/home']">
        <mat-icon>home</mat-icon>
        <a>Home</a>
      </mat-list-item>
      <mat-list-item [routerLink]="['/edit', 'new']">
        <mat-icon>add</mat-icon>
        <a>New Post</a>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="container">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
