<mat-card class="card">
  <mat-card-header>
    <div mat-card-avatar
      class="avatar-img">
    </div>
    <mat-card-title>{{ post?.author }}</mat-card-title>
    <mat-card-subtitle>
      Last updated on {{ post?.createdIn | date: 'short' }}
    </mat-card-subtitle>

    <span class="spacer"></span>

    <button mat-icon-button
      [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>

    <mat-menu #menu="matMenu">
      <button mat-menu-item
        [routerLink]="['/edit']"
        [queryParams]="{id: post?.id}">
        <mat-icon>edit</mat-icon>
        <span>Edit</span>
      </button>
      <button mat-menu-item
        (click)="deletePost(post)">
        <mat-icon>delete</mat-icon>
        <span>Delete</span>
      </button>
    </mat-menu>
  </mat-card-header>

  <mat-card-content>
    <h3>
      <strong>{{ post?.title }}</strong>
    </h3>
    <p>
      {{ post?.content }}
    </p>
  </mat-card-content>

  <mat-divider></mat-divider>

  <mat-card-actions>
    <button mat-button
      (click)="like()">
      <mat-icon [color]="(post?.likes === 0 ? 'basic' : 'warn')">favorite</mat-icon>
    </button>
    <span>{{ post?.likes }} likes</span>
  </mat-card-actions>
</mat-card>
